/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "bootstrap-sprockets";
 // @import "bootstrap";

* {
  text-decoration: none;
  font-family: "Verdana";
}

a {
  text-decoration: none;
}

a:hover {
  color: #cc6f6f;
}
p {
  text-align: center !important;
}

body {
  padding-top: 0px;
}


header {
  background-color: #fff;
  width: 100%;
  height: 135px;
}

header .logo {
  font-family: sans-serif;
  font-size: 40px;
  color: #111;
  font-weight: 900px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 20px 0px;
}

header nav ul {
  margin-left: 0px !important;
  padding-left: 0px;
  margin: 0 auto;
  display: block;
  width: fit-content;
  list-style: none
}
header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  text-decoration: none;
  
}
header nav ul li a{
  font-family: sans-serif;
  font-size: 16px;
  color: #111;
  font-weight: 600px;
  padding: 0px 16px 0px 70px;
  text-transform: uppercase;
}
 
header .contact {
  display: block;
  float: right;
}

.contact a{
  font-size: 26px;
  color: #111;
  font-weight: 600px;
 }

 .notice .alert {
   text-align: center;
 }
 
 

@media only screen and (min-width: 1000px) {
  header .logo {
  margin: 0px;
  text-align: left;
  padding: 0px 20px 0px 40px;
  border-right: 3px solid #111; 
  float: left;
  line-height: 34px;
  margin: 31px 0;

}

header nav ul {
  margin: 18px 0px 0px 20px;
  float: left;
  
}

header nav ul a{
  padding: 0px 16px;
  line-height: 60px;

}
 
 header .contact {
  display: block;
  float: right;
  font-size: 16px;
  color: #111;
  font-weight: 800px;
  padding: 0px 16px;
  text-transform: uppercase;
  line-height: 30px;
  border: 2px solid #111;
  margin-top: 31px;
  margin-right: 40px;
  padding: 0 10px;
 
 }
}